body {
  background: rgb(253, 251, 251);
  font-size: 20px;
  line-height: 30px;
  font-family: Ubuntu;
}

nav {
  position: fixed;
  top: 0;
  color: #874356;
}

#minha_foto {
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid #874356;
  padding: 5px;
  margin: 100px;
}
