body {
  background: rgb(253, 251, 251);
  font-size: 20px;
  line-height: 30px;
  font-family: Arial, sans-serif;
}

h3 {
  color: palevioletred;
}

nav {
  position: fixed;
  top: 0;
  color: palevioletred;
}

header {
  text-align: center;
  color: palevioletred;
}

a {
  display: inline-block;
  text-align: center;
}

div {
  text-align: center;
}

table {
  border: palevioletred;
}

#minha_foto {
  object-fit: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid palevioletred;
  padding: 5px;
  margin: 70px;
}

#licoes_aprendidas {
  width: 200px;
  display: inline-block;
  border: 3px dotted palevioletred;
}

#licoes_a_aprender {
  width: 200px;
  display: inline-block;
  border: 3px dotted palevioletred;
}

#rodape {
  text-align: center;
}

.lado-esquerdo {
  width: 700px;
  display: inline-block;
  text-align: left;
}

.lado-direito {
  width: 200px;
  display: inline-block;
  text-align: right;
}
